@import "variables";
@import "mixins";
@import "header";
@import "footer";
@import "home";
@import "sidebar";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Poppins, Helvetica, Arial, sans-serif;
}
.wrapper {
  padding-left: 90px;
  padding-right: 90px;
  @include mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.font-bold {
  font-size: 20px;
  font-weight: 700;
}
.font-thin {
  font-size: 15px;
  font-weight: 400;
}
.text-12 {
  font-size: 12px;
}
.text-13 {
  font-size: 13px;
}
.text-14 {
  font-size: 14px;
}
.text-18 {
  font-size: 18px;
}
.text-20 {
  font-size: 20px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.boxshadow-bottom {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Change the values as needed */
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
  @include mobile {
    grid-template-columns: repeat(1, 1fr);
    gap: 6px;
  }
}
.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  padding: 10px 15px;
  background-color: #1ec6b6;
  color: white;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.scroll-to-top.visible {
  display: block;
}

.scroll-to-top:hover {
  background-color: $cyan;
}
